In [48]:
print(100 > 99)

True

In [2]:
a = 400
b = 66

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
print(bool("Kazybek"))
print(bool(5))

True
True

In [4]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [5]:
class my():
  def __len__(self):
    return 0

myobj = my()
print(bool(myobj))

False

In [6]:
print(4+6)

10

In [7]:
print(5*23)

115

In [8]:
list = ["apple", "banan", "cherry"]
print(list)

['apple', 'banan', 'cherry']

In [9]:
list = ["apple", "banana", "cherry"]
print(list[2])

cherry

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [11]:
thislist = ["toyota", "BMW", "mers"]
thislist.append("lexus")
print(thislist)

['toyota', 'BMW', 'mers', 'lexus']

In [12]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [13]:
list = ["pen", "pencil", "six", "sun", "mix"]
list.remove("six")
print(list)

['pen', 'pencil', 'sun', 'mix']

In [14]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [16]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [17]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [18]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [19]:
def func(n):
  return abs(n - 50)

list = [100, 50, 65, 82, 23]
list.sort(key = func)
print(list)

[50, 65, 23, 82, 100]

In [20]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [21]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [22]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [25]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [47]:
number = ("one", "two", "three")

(green, yellow, red) = number

print(green)
print(yellow)
print(red)

one
two
three

In [44]:
thisnumber = ("one", "two", "three")
for i in range(len(thisnumber)):
  print(thisnumber[i])

one
two
three

In [41]:
number = ("one", "two", "three")
mytuple = number * 2

print(mytuple)

('one', 'two', 'three', 'one', 'two', 'three')

In [39]:
set1 = {"one", "two", "three"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [40]:
thisset = {"one", "two", "three"}

print("two" not in thisset)

False

In [35]:
set = {"one", "two", "three"}
tropical = {"pineapple", "mango", "papaya"}

set.update(tropical)

print(set)

{'two', 'papaya', 'pineapple', 'one', 'mango', 'three'}

In [36]:
set = {"one", "two", "three"}

x = set.pop()

print(x)

print(set)

one
{'two', 'three'}

In [37]:
set = {"one", "two", "three"}

for x in set:
  print(x)

one
two
three

In [49]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'Elena', 'c', 'a', 'apple', 'bananas', 'b', 'cherry'}

In [50]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'Elena', 'c', 'a', 'apple', 'bananas', 'b', 'cherry'}

In [51]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [52]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [53]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [54]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [55]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [57]:
for x in thisdict.keys():
  print(x)

brand
model

In [58]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [1]:
a=77
b=33
if a>b:
    print("a is greater than b")
else:
    print("noooooo")

a is greater than b

In [2]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [3]:
number = ["one","two","three"]
for i in number:
    print(i)

one
two
three

In [4]:
for x in range(11):
  print(x)

0
1
2
3
4
5
6
7
8
9
10